.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    background-color: #befa00;
    width: 440px;
    margin: 10px auto;
    border-radius: 5px;
}
.header h2{
    margin-bottom: 10px;
    font-size: 2.3rem;
    border-bottom: 1px solid black;
    width: fit-content;
}
.footer{
    background-color: silver;
    color: gray;
   text-align: center;
   padding: 10px;
   font-size: 1.1rem;
   margin-top: 30px;
}
.footer a{
    color: rgb(75, 75, 235);
    font-weight: 600;
}
.container{
    min-height: 1000px;
}
@media(max-width: 600px){
    .header{
        width: 320px;
    }
}